# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Database exports
# =====================
*.csv
*.parquet
*.db

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
logs/
*.log

# =====================
# Model artifacts
# =====================
src/models/artifacts/