# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Environment variables
# =====================
.env
.env.*

# =====================
# Database exports
# =====================
data/
*.csv
*.parquet
*.db

# =====================
# Model artifacts
# =====================
models/saved_models/
*.pkl
*.joblib

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
logs/
*.log